#shopBar {
    margin-right: 430px;
}
#shopBar {
    color: #464646;
    margin: 10px;
    margin-right: 147px;
    position: relative;
}

#shopButton {
    background: url(/images/shop-default.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    position: absolute;
    height: 35px;
    width: 120px;
    z-index: 45;
}

.leftNav{
    border: 1px solid red;
    width: 187px;
    height: 364px;
    position: absolute;
}
.goButton{
    background: url(/images/searchbar-right-go.png);
    height: 34px;
    width: 40px;
    border: none
    }

.checkoutBtn{
    width: 425px;
    background-color: #8FC12B;
    background-repeat: no-repeat;
    background-image: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 16px;
    border: 0;
    border-radius: 4px;
    margin-left: 33%;
    margin-bottom: 3%;
    color:black;
}