
<div>
    <h1>Product Requests</h1>

    <form>
        <div class="form-group">
            <input ng-model="search.$" type="text" class="form-control" placeholder="Search">
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <tr>
            <th> Product ID </th>
            <th> Product Name </th>
            <th> Description </th>
            <th> Product Price </th>
            <th> Farmer ID </th>
            <th> Accept </th>
            <th> Decline </th>
        </tr>
        <tr ng-repeat="product in products.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:search">
            <td> {{product.productid}} </td>
            <td> {{product.productname}} </td>
            <td> {{product.description}} </td>
            <td> {{product.productprice}} </td>
            <td> {{product.farmerid}} </td>
            <td><button ng-click="addProduct(product.productid)" class="btn btn-success"> Accept</button></td>
            <td><button ng-click="deleteProduct(product.productid)" class="btn btn-danger"> Reject</button></td>
        </tr>
    </table>
    <uib-pagination total-items="totalItems" ng-model="currentPage"></uib-pagination>
</div>