<div style="margin: 0 auto;  width: 50%">
    <form role="form" name="form" id="form">
        <div class="form-group">
            <label>Product Category</label>
            <select class="form-control" id="category" ng-model="form.category">
                <option value="fruits">Fruits</option>
                <option value="vegetables">Vegetables</option>
                <option value="snacks">Snacks & Cookies</option>
            </select>
        </div>
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control" id="productname" ng-model="form.productname" required>

        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" id="price" ng-model="form.price" required>
        </div>
        <div class="form-group">
            <label>Product Description</label>
            <input type="text" class="form-control" id="description" ng-model="form.description" required>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" class="form-control" id="image" ng-model="form.image">
        </div>

        <button type="submit" class="btn btn-success" ng-click="addProduct()">Submit</button>
    </form>


    <br><br>

</div>
