<div>
    <form>
        <div class="form-group">
            <input ng-model="search.$" type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <h1>List of Products</h1>
    <div class="row">
        <div class="col-sm-6 col-md-3" ng-repeat="product in farmerProducts.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:search">
            <div class="thumbnail custom">
                <a ng-click="getProductInfo(product.productid)">
                    <img src="../../../images/ProductImages/Apples/Fuji_Apple.jpg" alt="Fuji Apple" style="max-width: 100px; max-height: 100px; display: block; margin-left: auto; margin-right: auto; border-style: none">
                </a>
                <div class="caption">
                    <h3>{{product.productprice}}</h3>
                    <p>{{product.productname}}</p>
                    <p>{{product.description}} </p>
                    <p>
                        <a href="#" class="btn btn-default" role="button">Add to Cart</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <uib-pagination total-items="totalItems" ng-model="currentPage"></uib-pagination>
</div>