<div>
    <h1>List of Products</h1>

    <table class="table table-bordered table-striped">
        <th>Product ID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Action</th>
        </th>
        <tr ng-repeat="product in farmerProducts" >
            <td> {{product.productid}} </td>
            <td> {{product.productname}} </td>
            <td> {{product.productprice}} </td>
            <td> {{product.description}} </td>
            <td><button type="button" class="btn btn-primary">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
    </table>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="../../../images/ProductImages/Apples/Fuji_Apple.jpg" alt="Fuji Apple" style="max-width: 100px; max-height: 100px; display: block; margin-left: auto; margin-right: auto; border-style: none">
                <div class="caption">
                    <h3>$1.10</h3>
                    <p>Fuji Apple</p>
                    <p>
                        <a href="#" class="btn btn-default" role="button">Add to Cart</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="../../../images/ProductImages/Apples/Gala_Apple.jpg" alt="Fuji Apple" style="max-width: 100px; max-height: 100px; display: block; margin-left: auto; margin-right: auto; border-style: none">
                <div class="caption">
                    <h3>$1.29</h3>
                    <p>Gala Apple</p>
                    <p>
                        <a href="#" class="btn btn-default" role="button">Add to Cart</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="../../../images/ProductImages/Apples/Granny_Smith_Apple.jpg" alt="Fuji Apple" style="max-width: 100px; max-height: 100px; display: block; margin-left: auto; margin-right: auto; border-style: none">
                <div class="caption">
                    <h3>$0.88</h3>
                    <p>Granny Smith Apple</p>
                    <p>
                        <a href="#" class="btn btn-default" role="button">Add to Cart</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="../../../images/ProductImages/Apples/Granny_Smith_Apples.jpg" alt="Fuji Apple"style="max-width: 100px; max-height: 100px; display: block; margin-left: auto; margin-right: auto; border-style: none">
                <div class="caption">
                    <h3>$5.99</h3>
                    <p>Granny Smith Apples, 3 lb bag</p>
                    <p>
                        <a href="#" class="btn btn-default" role="button">Add to Cart</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>