<div class="row" style="margin-top: 2%;">
    <div class="container-fluid" style="width: 50%; float: left;margin-left: 2%;">
        <div style="width:30%; float: left">
            <div id="productImage">
                <img ng-src="{{product.productimage}}" alt="Product Image"
                     style="max-width: 100px; max-height: 100px; display: block; margin-left: auto; margin-right: auto; border-style: none">
            </div>
        </div>
        <div style="width: 60%;float: left; margin-left: 5%; margin-right: 2%;">
            <h1>{{productname}}</h1>
            <h4>{{description}} </h4>
            <h2>{{productprice}}</h2>
            <p>Shipped by <b>AmazonFresh</b> </p>
        </div>
    </div>
</div>
<br>
<div class="row container-fluid">
    <!--  Product Reviews List -->
    <ul>
        <h2>Reviews</h2>
        <li ng-repeat="review in productreviews">
            <blockquote>
                <strong>{{review.stars}} Stars</strong>
                <br>
                {{review.body}}
                <br>
                <cite class="clearfix">—{{review.contact}}</cite>
            </blockquote>
        </li>
    </ul>
</div>