<div style="margin: 0 auto;  width: 20%" class="table-responsive" id="viewProfile">
    <h2>Your Information</h2><br>
    <table class="table" style ="border-style: none">
    <tr>
        <td><b>Farmer ID/SSN </b></td>
        <td>{{farmerid}}</td>
    </tr>
    <tr>
        <td><b>Firstname</b></td>
        <td>{{firstname}}</td>
    </tr>
    <tr>
        <td><b>Lastname </b></td>
        <td>{{lastname}}</td>
    </tr>
    <tr>
        <td><b>Address</b></td>
        <td>{{address}}</td>
    </tr>
    <tr>
        <td><b>City</b></td>
        <td>{{city}}</td>
    </tr>
    <tr>
        <td><b>State</b></td>
        <td>{{state}}</td>
    </tr>
    <tr>
        <td><b>Zipcode</b></td>
        <td>{{zipcode}}</td>
    </tr>
    <tr>
        <td><b>Phone Number</b></td>
        <td>{{phonenumber}}</td>
    </tr>
    <tr>
        <td><b>email</b></td>
        <td>{{email}}</td>
    </tr>
    </table>
    <button type="submit" style="align-content: center" class="btn btn-info" ng-click="updateProfile()">Update Profile</button>
</div>

<div style="margin: 0 auto;  width: 50%" id="editProfile">
    <form role="form" name="editProfileForm" id="editProfileForm" novalidate>
        <div class="form-group">
            <label>Farmer ID/SSN</label>
            <input type="text" class="form-control" id="editFarmerID" ng-model="editProfileForm.editFarmerID" readonly>
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" id="editFirstname" ng-model="editProfileForm.editFirstname" ng-model-options="{ updateOn: 'blur' }" required>
        <span style="color:red" ng-show="editProfileForm.editFirstname.$dirty && editProfileForm.editFirstname.$invalid">
            <span ng-show="editProfileForm.editFirstname.$error.required">Username is required.</span>
        </span>


        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" id="editLastname" ng-model="editProfileForm.editLastname" required>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" id="editAddress" ng-model="editProfileForm.editAddress" required>
        </div>
        <div class="form-group">
            <label>city</label>
            <input type="email" class="form-control" id="editCity" ng-model="editProfileForm.editCity" required>
        </div>
        <div class="form-group">
            <label>State</label>
            <input type="text" class="form-control" id="editState" ng-model="editProfileForm.editState" required>
        </div>
        <div class="form-group">
            <label>Zipcode</label>
            <input type="text" class="form-control" id="editZipcode" ng-model="editProfileForm.editZipcode" ng-pattern="/^(\d{5}-\d{4}|\d{5})$/" required>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" id="editPhonenumber" ng-model="editProfileForm.editPhonenumber" required>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="email" class="form-control" id="editEmail" ng-model="editProfileForm.editEmail" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="editPassword" ng-model="editProfileForm.editPassword" required>
        </div>


        <button type="submit" class="btn btn-success" ng-click="editFarmerProfile()">Update</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>

    </form>
</div>


