<input type="hidden" name="cartid" ng-model="cartid" ng-value="cartid" />
<table class="table table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Your Items</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in cartItems">
        <td><img ng-src="{{product.productimage}}" alt="Product Image" style="max-width: 100px; max-height: 100px; display: block; margin-left: auto; margin-right: auto; border-style: none"></td>
        <td><h4>{{product.productname}}</h4>
            <p>{{product.description}}</p>
        </td>
        <td><h4>$ {{product.productprice}}</h4></td>
        <td>
            <div><button type="button" class="btn btn-default btn-sm" ng-click="deleteProduct(product.productid, $index)">
                <span class="glyphicon glyphicon-trash" ></span>
            </button></div>
        </td>
    </tr>

     <tr>
         <td></td>
        <td></td>
        <td><h3><strong style="float: right;">Your Total :</strong></h3></td>
        <td><h3 ng-model="cartTotal">$ {{cartTotal}}</h3></td>
    </tr>
    </tbody>
</table>
<div ng-show="showCheckoutBtn">
    <button class="checkoutBtn" ng-click="checkout()" type="submit">Checkout
    </button></div>
<div ng-show="showOrderPlaced">
    <div class="col-md-4 pull-right">
        <ul>
        <p><h4>Select a delivery date : </h4></p>
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened"
                   datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i style="height:20px;"
                        class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        </ul>
    </div>
    <button class="checkoutBtn" ng-click="generateBill(cartItems)" type="submit">Submit Order
    </button>

</div>
