<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | AmazonFresh</title>
    <link rel="shortcut icon" href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/favicon.ico"
          type="image/vnd.microsoft.icon"/>
    <link rel="icon" href="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/favicon.ico"
          type="image/vnd.microsoft.icon"/>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <div style="color: white">
        <div style="background-image: url(/images/header/taskbar-bg.png); width: 100%; height: 45px"
             class="container-fluid">
            <a href="/"> <img src="/images/header/af-logo-white.png" style="margin-top: 5px"> </a>

            <span>Already an AmazonFresh customer? <a href="login">Sign in</a></span>

        </div>
    </div>

    <div style="margin: 0 auto; width: 50%">
        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ul>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="https://fresh.amazon.com/MembershipBenefits?pf_rd_s=slide-1&pf_rd_p=2123319022&pf_rd_t=101&pf_rd_i=1&pf_rd_r=16JHFM7EH70CV4GTJV50">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/merch/2015/TCG/Q1/021015_TCG_ZipLaunch_Generic._V330194894_.jpg"/>
                        </a>
                    </div>

                    <div class="item">
                        <a href="MembershipBenefits?pf_rd_s=slide-2&pf_rd_p=2123322002&pf_rd_t=101&pf_rd_i=1&pf_rd_r=16JHFM7EH70CV4GTJV50">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/merch/2014/Gateway/Unrecognized_TCG_Review7._V324775002_.jpg"/>
                        </a>
                    </div>

                    <div class="item">
                        <a href="MembershipBenefits?pf_rd_s=slide-3&pf_rd_p=2123322102&pf_rd_t=101&pf_rd_i=1&pf_rd_r=16JHFM7EH70CV4GTJV50">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/merch/2014/Gateway/Unrecognized_TCG_Review2._V325038593_.jpg"/>
                        </a>
                    </div>

                    <div class="item">
                        <a href="MembershipBenefits?pf_rd_s=slide-5&pf_rd_p=2123321982&pf_rd_t=101&pf_rd_i=1&pf_rd_r=16JHFM7EH70CV4GTJV50">
                            <img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/merch/2014/Gateway/Unrecognized_TCG_ShopComfortably._V325819920_.jpg"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

