<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="/javascripts/angular/loginAndSignUp/loginController.js"></script>
</head>
<body ng-app="loginApp">
<div style="background-image: url(/images/header/taskbar-bg.png); width: 100%; height: 45px" class="container-fluid">
    <a href="/"> <img src="/images/header/af-logo-white.png" style="margin-top: 5px"> </a>
</div>
<div class="col-sm-4 col-sm-offset-4">
<div ng-app="loginApp" ng-controller="LoginController">
    <div class="alert alert-danger" ng-hide="existingUserName">
        <strong>Incorrect username or password</strong>
    </div>
    <div class="alert alert-danger" ng-hide="unexpected_error">
        <strong>Unexpected error, try again</strong>
    </div>
    <h3 style="text-align:left";>Sign In</h3>
    <div class="form-group">
        <label for="email">Email:</label> <input type="email" class="form-control" ng-model="email" placeholder="Enter email" size="30" style="width: 425px;" required>
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label> <input type="password" class="form-control" ng-model="password" placeholder="Enter password" size="30" style="width: 425px;" required>
    </div>
    <div>
        <button ng-click="login();" style="width: 425px; background-color: #8FC12B; background-repeat: no-repeat; background-image: none; box-shadow: none; font-size: 16px; font-weight: normal; padding: 12px 16px; border: 0; border-radius: 4px; color: black;">Sign In</button>
    </div>
    <div><span>New Amazon.com customer? <a href="signup">Create a new Amazon account</a></span></div>
</div>
</div>
</body>